<div class="card text-center" style="background-color: beige;">
  <div class="card-body">
    <p class="card-text">© 2020 Copyright: {{autor}} - {{year}}</p>
    <a href="https://www.youtube.com/channel/UCmpW4KaF4UoxfhyeCCD0vCw"class="btn btn-primary" style="background-color: red;">Youtube</a>
  </div>
 
</div>
